@import url("https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Exo 2", sans-serif;
  line-height: 1.6;
  font-size: 1.8rem; }

.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 95vh min-content 40vw repeat(5, min-content);
  grid-template-columns: [full-start] repeat(8, minmax(min-content, 1fr)) [full-end]; }

.about_container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [full-start] repeat(8, minmax(min-content, 1fr)) [full-end]; }

.inner-container {
  max-width: 110rem;
  margin: 0 auto; }

/* UTILITIES */
.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.my-5 {
  margin: 5rem 0; }

.text-center {
  text-align: center; }

.d-center {
  margin: 0 auto; }

.section-header {
  text-align: center;
  font-size: 8rem;
  color: rgba(255, 82, 83, 0.15);
  font-weight: 500; }
  .section-header > span {
    font-weight: normal;
    color: #FF5253;
    font-size: 4rem;
    margin-left: -5rem; }

.btn-text:link, .btn-text:visited {
  font-family: "Roboto", sans-serif;
  color: #FF5253;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #FF5253;
  padding: .3rem 0;
  transition: all .2s; }

.btn-text:hover {
  background: #FF5253;
  color: #fff;
  padding: .3rem 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn-group > *:first-child {
  margin-right: 5rem; }

.btn-primary {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #FF5253;
  border: 1px solid #FF5253;
  border-radius: 2rem;
  background: transparent;
  padding: 1rem 5rem;
  cursor: pointer;
  transition: all .2s; }
  .btn-primary:hover {
    color: #fff;
    background: #FF5253;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25); }

.btn-overlay:link, .btn-overlay:visited {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #424242;
  border-radius: 2rem;
  padding: 1rem 5rem;
  cursor: pointer;
  text-decoration: none; }

nav {
  background: #FF5253;
  color: #fff;
  box-shadow: 0 0.3rem 2.5rem rgba(0, 0, 0, 0.1);
  z-index: 2;
  grid-column: 1 / -1; }
  nav .navbar_toggler {
    display: none;
    cursor: pointer; }
  nav .navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 1.8rem 0; }
    nav .navbar ul .nav-btn {
      padding: 0.5rem 1.5rem; }
      nav .navbar ul .nav-btn:link, nav .navbar ul .nav-btn:visited {
        font-weight: 500;
        font-size: 1.8rem;
        text-decoration: none;
        color: inherit;
        margin: 0  2rem; }
      nav .navbar ul .nav-btn:hover {
        font-weight: bold; }

.header {
  grid-column: full-start/full-end;
  background: url("../img/background-shapes.png") no-repeat center center/contain; }
  .header_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    margin-top: 5rem;
    position: relative;
    height: 80vh; }
  .header_leftside {
    color: #fff; }
    .header_leftside--greeting {
      font-size: 4rem; }
    .header_leftside--myname {
      font-size: 4rem;
      font-weight: bold; }
    .header_leftside p {
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2;
      margin-bottom: 4rem; }
    .header_leftside--webdev {
      font-size: 1.4rem;
      text-transform: uppercase;
      margin: 0 5rem; }
      .header_leftside--webdev::before, .header_leftside--webdev::after {
        content: "";
        display: block;
        height: .1rem;
        width: 14rem;
        background-color: currentColor; }
  .header_rightside {
    z-index: -1.8; }
    .header_rightside figure {
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 88%;
      border: 0.8rem solid #fff;
      transform: translateY(8rem); }
      .header_rightside figure img {
        position: absolute;
        top: -8rem;
        left: 0rem;
        object-fit: cover;
        height: 108%;
        width: 100%; }
  .header .btn-header {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2rem;
    background: transparent;
    padding: 1rem 2.8rem;
    cursor: pointer;
    transition: all .2s; }
    .header .btn-header:hover {
      color: #FF5253;
      background: #fff;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25); }
  .header #morph {
    width: 100%;
    height: 95vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }

.about {
  grid-column: full-start/full-end;
  margin-top: -10rem; }
  .about_me {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 12rem; }
    .about_me--image {
      grid-column: 1 / span 2; }
      .about_me--image figure {
        border: 1rem solid #FF5253; }
      .about_me--image img {
        margin: 0;
        width: 100%;
        height: 100%;
        transform: translate(2rem, 2rem);
        object-fit: cover;
        display: block; }
    .about_me--story {
      grid-column: 3 / span 4;
      justify-self: end; }
      .about_me--story p {
        color: #5E5E63;
        font-size: 1.8rem; }
      .about_me--story .char {
        font-size: 1.8rem;
        color: #5E5E63;
        animation: fillIn 1s ease-out 1 both;
        display: inline-block; }

@keyframes fillIn {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg); }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0); } }

.service {
  margin-top: 12rem;
  grid-column: full-start/full-end; }
  .service .inner-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 3rem; }
  .service-card {
    text-align: center;
    padding: 3rem;
    background: linear-gradient(to bottom, #AA076B, #61045F);
    border-radius: .5rem;
    color: #fff; }
    .service-card--1 {
      grid-column: 1/span 2; }
    .service-card--2 {
      grid-column: 3/span 2; }
      .service-card--2 .service-card--body {
        padding: 1rem 0 2rem 0; }
    .service-card--3 {
      grid-column: 5/span 2; }
    .service-card--number {
      font-size: 6rem;
      color: rgba(255, 255, 255, 0.2); }
    .service-card--title {
      font-weight: bold;
      font-size: 2.4rem;
      padding: .5rem 0; }
    .service-card--body {
      padding: 3rem 0;
      font-size: 1.6rem; }
    .service-card--button {
      color: #fff;
      border-color: #fff;
      transition: all .2s; }
      .service-card--button--button:hover {
        border-color: #FF5253;
        box-shadow: none; }
    .service-card:hover {
      background: #fff;
      color: #5F5F5F;
      box-shadow: 0 0 4.5rem rgba(0, 0, 0, 0.15); }
    .service-card:hover .service-card--number {
      color: rgba(255, 82, 83, 0.2); }
    .service-card:hover .service-card--title {
      color: #FF5253; }
    .service-card:hover .service-card--button {
      background: #FF5253; }
    .service-card:hover .service-card--button:hover {
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25); }
    .service-card:hover .service-card--button:focus {
      outline: none;
      box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25); }

.portfolios {
  grid-column: full-start/full-end;
  background: #F5F4F5; }
  .portfolios .gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 18vw);
    gap: 3rem;
    padding: 4rem 0 6rem 0; }
    .portfolios .gallery_item {
      border-radius: 1rem;
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25); }
      .portfolios .gallery_item--1 {
        grid-column: 1/ 4; }
      .portfolios .gallery_item--2 {
        grid-column: 4/ 7; }
      .portfolios .gallery_item--3 {
        grid-column: 1/ 3; }
      .portfolios .gallery_item--4 {
        grid-column: 3/ 5; }
      .portfolios .gallery_item--5 {
        grid-column: 5/ 7;
        grid-row: 2 / 4; }
      .portfolios .gallery_item--6 {
        grid-column: 1/ 5; }
    .portfolios .gallery_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 1rem; }
  .portfolios_button {
    margin: 0 0 10rem 0; }

.gallery_item {
  position: relative;
  overflow: hidden; }
  .gallery_item::after {
    content: '';
    position: absolute;
    display: block;
    background: linear-gradient(to bottom, rgba(170, 7, 107, 0.8), rgba(97, 4, 95, 0.8));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-25deg);
    transition: transform 2s cubic-bezier(0.2, 1, 0.3, 1); }
  .gallery_item:hover::after {
    transform: scale(2) translateX(0) translateY(0) rotate(-25deg); }
  .gallery_item:hover img {
    transform: scale(1.2); }
  .gallery_item:hover .gallery_item_text {
    opacity: 1;
    transform: translateY(0); }
  .gallery_item_text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 350ms; }
  .gallery_item_text_wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; }
    .gallery_item_text_wrap--category {
      font-size: 1.6rem;
      padding: 0 1rem;
      margin: 0; }
    .gallery_item_text_wrap--title {
      font-size: 2.4rem;
      margin: .5rem 0 3rem 0;
      text-transform: uppercase;
      font-weight: bold; }
    .gallery_item_text_wrap--button {
      margin: 1rem; }

@media only screen and (max-width: 1200px) {
  .gallery_item::after {
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-25deg); }
  .gallery_item:hover::after {
    transform: scale(2) translateX(0) translateY(0) rotate(0deg); }
  .gallery_item_text_wrap--title {
    font-size: 2rem; }
  .gallery_item_text_wrap--button {
    margin: .5rem; } }

@media only screen and (max-width: 600px) {
  .gallery_item_text_wrap--category {
    font-size: 1.3rem;
    padding: 0 .8rem;
    margin: 0; }
  .gallery_item_text_wrap--title {
    font-size: 1.5rem;
    margin: .5rem 0 1rem 0; }
  .gallery_item_text_wrap--button {
    margin: .2rem; } }

.testimonials {
  grid-column: full-start/full-end; }

.testimonial {
  margin: 9rem 0; }
  .testimonial_container {
    border: 1rem solid #FF5253;
    width: 90%; }
  .testimonial_card {
    background: #fff;
    padding: 7rem;
    box-shadow: 0 0 3.5rem rgba(0, 0, 0, 0.08);
    transform: translate(3rem, 3rem);
    width: 110%;
    text-align: center;
    /* Fading animation */ }
    .testimonial_card--company {
      font-family: "Pacifico", cursive;
      font-size: 3.2rem;
      color: #424242;
      margin: 0 0 3rem 0; }
    .testimonial_card--comment {
      display: flex;
      font-size: 2.4rem;
      color: #7F7F84; }
      .testimonial_card--comment .right-quote, .testimonial_card--comment .left-quote {
        display: inline-block; }
        .testimonial_card--comment .right-quote img, .testimonial_card--comment .left-quote img {
          width: 3.5rem;
          height: 3rem; }
    .testimonial_card--name {
      margin: 3rem 0 5rem 0;
      color: #FF5253;
      font-weight: 600;
      font-size: 2rem; }
    .testimonial_card--img .current img {
      background: #FF5253; }
    .testimonial_card--img .client {
      display: inline-block;
      margin: 3rem 2rem 0;
      height: 100%;
      width: auto;
      cursor: pointer; }
      .testimonial_card--img .client img {
        border: 0.4rem solid rgba(163, 163, 169, 0.38); }
      .testimonial_card--img .client img {
        border-radius: 50%;
        object-fit: cover;
        width: 10rem;
        height: 10rem;
        box-shadow: 0 0 3.5rem rgba(0, 0, 0, 0.08); }
    .testimonial_card .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .3;
    transform: scale(0.2); }
  to {
    opacity: 1;
    transform: scale(1); } }

@keyframes fade {
  from {
    opacity: .3;
    transform: scale(0.2); }
  to {
    opacity: 1;
    transform: scale(1); } }
  .testimonial_slide {
    display: none; }

.contact {
  grid-column: full-start/full-end;
  margin: 12rem 0; }
  .contact .inner-container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    column-gap: 3rem; }
  .contact .section-header span {
    font-size: 5rem;
    margin-left: -7rem; }
  .contact_details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 4.2rem;
    align-items: center; }
    .contact_details--cardbox {
      border-radius: 2px;
      box-shadow: 0 0 3.5rem rgba(0, 0, 0, 0.05);
      padding: 5rem 4rem;
      color: #A3A3A9;
      display: flex;
      justify-content: space-around; }
    .contact_details--address {
      width: 60%;
      justify-self: end; }
    .contact_details--icon {
      align-self: center; }
      .contact_details--icon i {
        color: #FF5253;
        border: 1px solid #FF5253;
        border-radius: 50%;
        padding: 2rem; }
  .contact_message {
    padding: 5rem 4rem 7rem 4rem;
    border-radius: 2px;
    box-shadow: 0 0 3.5rem rgba(0, 0, 0, 0.05); }
  .contact .form {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, max-content);
    column-gap: 4rem;
    row-gap: 5rem; }
    .contact .form_group {
      position: relative; }
      .contact .form_group--3, .contact .form_group--4 {
        grid-column: 1 / span 2; }
    .contact .form_input {
      font-size: 1.2rem;
      font-family: "Roboto", sans-serif;
      color: #5E5E63;
      padding-bottom: 1rem;
      border: none;
      border-bottom: 1px solid #C2C2C9;
      width: 100%;
      display: block; }
      .contact .form_input::-webkit-input-placeholder {
        color: #A3A3A9; }
    .contact .form_input:focus {
      outline: none;
      border-bottom: 2px solid #FF5253; }
    .contact .form_textbox {
      height: 7.5rem;
      line-height: 200%; }
    .contact .form_label {
      font-size: 1rem;
      font-weight: 700;
      color: #FF5253;
      position: absolute;
      top: -2.4rem;
      transition: all .4s; }
    .contact .form_input:placeholder-shown + label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(2.4rem); }
    .contact .form button {
      grid-column: 2 / -1;
      justify-self: end;
      background: #FF5253;
      color: #fff; }

.about_header {
  background: url("/img/background-shapes.png") no-repeat center center/cover, #FF5253;
  grid-column: full-start / full-end;
  overflow: hidden; }
  .about_header p {
    font-size: 3rem;
    text-align: center;
    padding: 6rem 0;
    color: #fff; }

.education {
  grid-column: full-start / full-end;
  background: #F5F4F5; }
  .education__timeline {
    margin: 4rem 0 10rem 0;
    overflow-x: hidden; }
    .education__timeline li {
      list-style: none;
      position: relative;
      width: .1rem;
      margin: 0 auto;
      padding-top: 1rem;
      background: #A3A3A9; }
    .education__timeline--body {
      position: relative;
      bottom: 0;
      width: 45rem;
      padding: 3.5rem;
      background: #fff;
      color: #A3A3A9;
      border-radius: 2px;
      visibility: hidden;
      opacity: 0;
      box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.1);
      transition: all 0.5s ease-in-out; }
      .education__timeline--body::before {
        content: '';
        position: absolute;
        top: 2.6rem;
        width: 0;
        height: 0;
        border-style: solid; }
    .education__timeline--date {
      margin: .5rem 0 2rem 0;
      font-size: 1.6rem;
      color: #FF5253; }
    .education__timeline--description {
      font-size: 1.8rem; }
    ul li:nth-child(even) .education__timeline--body {
      left: 4rem;
      transform: translateX(30rem); }
      ul li:nth-child(even) .education__timeline--body:before {
        left: -1.5rem;
        border-width: 1.8rem 1.6rem 1.8rem 0;
        border-color: transparent #fff transparent transparent; }
    ul li:nth-child(odd) .education__timeline--body {
      left: -49rem;
      transform: translateX(-30rem); }
      ul li:nth-child(odd) .education__timeline--body:before {
        right: -1.5rem;
        border-width: 1.8rem 0 1.8rem 1.6rem;
        border-color: transparent transparent transparent  #fff; }
    .education__timeline li:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 4.3rem;
      width: 2rem;
      height: 2rem;
      background: inherit;
      transform: translateX(-50%);
      border: .3rem solid #fff;
      border-radius: 50%;
      transition: background 0.5s ease-in-out; }
    ul li.show .education__timeline--body {
      transform: none;
      visibility: visible;
      opacity: 1; }
    .education__timeline ul li.show:after {
      background: #FF5253; }

.expertise {
  grid-column: full-start / full-end;
  margin: 7rem 0 13rem 0; }
  .expertise__areas {
    padding-top: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.2rem; }
    .expertise__areas--field {
      font-size: 2.4rem; }
    .expertise__areas--rate {
      width: 100%;
      height: .8rem;
      border-radius: 1rem;
      box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
      background: #fff; }
      .expertise__areas--rate .ui, .expertise__areas--rate .fe, .expertise__areas--rate .fs, .expertise__areas--rate .tw, .expertise__areas--rate .tm, .expertise__areas--rate .ch {
        border-radius: inherit;
        background: #FF5253;
        height: 100%; }
      .expertise__areas--rate .ui {
        width: 0%; }
      .expertise__areas--rate .fe {
        width: 0%; }
      .expertise__areas--rate .fs {
        width: 0%; }
      .expertise__areas--rate .tw {
        width: 0%; }
      .expertise__areas--rate .tm {
        width: 0%; }
      .expertise__areas--rate .ch {
        width: 0%; }
  .expertise__tech > div, .expertise__nontech > div {
    margin-bottom: 4rem; }

.socials {
  grid-column: full-start / full-end;
  background: #F5F4F5;
  padding: 4rem 0 9rem 0; }
  .socials__content {
    text-align: center; }
    .socials__content--text {
      padding: 0 20rem;
      margin: 2rem 0 5rem 0;
      font-size: 1.8rem;
      color: #5E5E63; }
      .socials__content--text span {
        font-weight: bold; }
    .socials__content--sources {
      display: flex;
      justify-content: center;
      font-size: 2.8rem;
      position: relative; }
      .socials__content--sources > a:not(:last-child) {
        margin-right: 2rem; }
      .socials__content--sources a:link, .socials__content--sources a:visited {
        color: #FF5253; }
      .socials__content--sources a > div:hover {
        background: #FF5253;
        color: #fff; }
      .socials__content--sources a > div {
        border: 1px solid #FF5253;
        border-radius: 50%;
        padding: 1rem 2rem;
        position: relative; }
      .socials__content--sources a:nth-child(1) > div {
        animation: bounce1 10s linear infinite; }
      .socials__content--sources a:nth-child(2) > div {
        animation: bounce2 10s linear infinite; }
      .socials__content--sources a:nth-child(3) > div {
        animation: bounce3 10s linear infinite; }
      .socials__content--sources a:nth-child(4) > div {
        animation: bounce1 10s linear infinite; }
      .socials__content--sources a:nth-child(5) > div {
        animation: bounce4 10s linear infinite; }
      .socials__content--sources > a:nth-child(4) div {
        padding: 1rem 2.3rem; }

@keyframes bounce1 {
  0% {
    top: -1rem; }
  25% {
    top: -2rem; }
  50% {
    top: 0; }
  75% {
    top: 2rem; }
  100% {
    top: -1rem; } }

@keyframes bounce2 {
  0% {
    top: -1.5rem; }
  25% {
    top: -0.4rem; }
  50% {
    top: 1rem; }
  75% {
    top: 3rem; }
  100% {
    top: -1.5rem; } }

@keyframes bounce3 {
  0% {
    top: -0.9rem; }
  25% {
    top: -1.5rem; }
  50% {
    top: 1rem; }
  75% {
    top: 1.5rem; }
  100% {
    top: -0.9rem; } }

@keyframes bounce4 {
  0% {
    top: -1rem; }
  25% {
    top: -2rem; }
  50% {
    top: 1.4rem; }
  75% {
    top: 2rem; }
  100% {
    top: -1rem; } }

.blog {
  grid-column: full-start / full-end;
  margin: 8rem 0; }
  .blog .section-header {
    margin-bottom: 10rem; }
  .blog__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem; }
    .blog__content:not(:last-child) {
      margin-bottom: 12rem; }
    .blog__content--thumbnail2 {
      justify-self: center; }
    .blog__content--frame {
      border: 1rem solid #FF5253;
      width: 40rem;
      height: 30rem; }
      .blog__content--frame img {
        width: 105%;
        height: 105%;
        object-fit: cover;
        display: block;
        transform: translate(3rem, 3rem); }
    .blog__content--frame2 img {
      transform: translate(-4rem, 3rem); }
    .blog__content--details {
      align-self: center; }
    .blog__content--collections {
      display: flex;
      margin: 2.5rem 0;
      color: #FF5253; }
      .blog__content--collections > span:not(:last-child), .blog__content--collections p {
        margin-right: 2.5rem; }
    .blog__content--description {
      margin-bottom: 4rem;
      color: #5E5E63; }
  .blog__pagination {
    display: flex;
    justify-content: flex-end; }
    .blog__pagination a:not(:last-child) {
      margin-right: .5rem; }
    .blog__pagination a {
      color: #FF5253;
      padding: .8rem 1.6rem;
      border: 1px solid #FF5253;
      border-radius: .5rem;
      text-decoration: none;
      transition: background-color .3s; }
    .blog__pagination a.active {
      background-color: #FF5253;
      color: white; }
    .blog__pagination a:hover:not(.active) {
      background-color: rgba(255, 82, 83, 0.65);
      color: #fff; }

.footer {
  grid-column: full-start/full-end;
  background: #F5F4F5;
  padding: 5rem 0 0 0; }
  .footer_note {
    font-size: 1.6rem; }
    .footer_note .inner-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 3rem;
      color: #7E7E8A; }
    .footer_note--header {
      font-size: 2.2rem;
      font-weight: 500;
      color: #FF5253;
      margin-bottom: 2rem; }
    .footer_note .recent_post--body p:not(:last-child) {
      border-bottom: 1px dashed;
      border-bottom-color: rgba(163, 163, 169, 0.4);
      margin-bottom: .4rem;
      padding-bottom: .4rem; }
    .footer_note .recent_post--body a:link,
    .footer_note .recent_post--body a:visited {
      text-decoration: none;
      color: inherit;
      display: inline-block; }
    .footer_note .recent_post--body a:hover {
      color: #AA076B; }
    .footer_note .old_project--gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: .5rem; }
      .footer_note .old_project--gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border: 3px solid;
        border-color: rgba(163, 163, 169, 0.3);
        transition: all .2; }
        .footer_note .old_project--gallery img:hover {
          border-color: #AA076B; }
    .footer_note .newsletter--subscription {
      display: flex; }
    .footer_note .newsletter input {
      padding: 1.4rem 2rem;
      border: 1px solid #FF5253;
      border-radius: 2rem 0 0 2rem;
      background: transparent;
      width: 80%; }
      .footer_note .newsletter input:focus {
        background: #fff;
        outline: none; }
      .footer_note .newsletter input::-webkit-input-placeholder {
        padding: 0 5rem; }
    .footer_note .newsletter button {
      padding: 1.5rem 2.6rem;
      border-radius: 0 2rem 2rem 0;
      background: #FF5253;
      border: 0;
      color: #fff;
      cursor: pointer; }
    .footer_note .newsletter input, .footer_note .newsletter button {
      margin: 2.6rem 0; }
    .footer_note .newsletter p:last-child > span {
      color: #FF5253; }
  .footer_end {
    background: #FF5253;
    color: #fff;
    margin-top: 5rem;
    padding: 3rem 0;
    font-size: 1.4rem; }
    .footer_end .inner-container {
      display: flex;
      justify-content: space-between; }
    .footer_end--link {
      display: flex; }
      .footer_end--link li {
        list-style: none; }
        .footer_end--link li a:link,
        .footer_end--link li a:visited {
          color: inherit;
          display: inline-block;
          text-decoration: none;
          padding: .3rem .8rem;
          transition: all .2s; }
          .footer_end--link li a:link:last-child,
          .footer_end--link li a:visited:last-child {
            margin-right: 2rem; }
        .footer_end--link li a:hover {
          color: #424242;
          font-weight: bold;
          transform: translateY(-3px); }

.about_container .about {
  margin: 5rem 0; }
  .about_container .about_me--image img {
    margin: 0; }

@media only screen and (max-width: 1400px) and (max-height: 1024px) {
  .header_leftside {
    margin-top: 6rem; }
    .header_leftside p {
      font-size: 2rem; }
  .header_rightside figure {
    height: 94%; }
    .header_rightside figure img {
      height: 102.5%;
      transform: rotate(7deg) translateX(2rem); }
  .header #morph {
    height: 91vh; } }

@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%; }
  .container {
    grid-template-rows: auto 80vh min-content 40vw repeat(5, min-content); }
  .inner-container {
    padding: 0 6rem; }
  .header_content {
    column-gap: 3rem;
    margin-top: 12rem;
    height: 60vh; }
  .header_leftside p {
    font-size: 2rem; }
  .header_rightside figure {
    height: 92%;
    border: none;
    transform: translateX(6rem); }
    .header_rightside figure img {
      position: absolute;
      left: 0rem;
      object-fit: cover;
      height: 100%;
      width: 100%; }
  .header #morph {
    height: 65vh; }
  .about {
    margin-top: -25rem;
    margin-bottom: 8rem; }
  .service {
    margin: auto 0; }
    .service-card--number {
      font-size: 3rem; }
    .service-card--title {
      font-size: 2rem; }
    .service-card--body {
      font-size: 1.4rem; }
  .contact .inner-container {
    column-gap: 2.5rem; }
  .contact_details {
    row-gap: 3rem; }
    .contact_details--cardbox {
      padding: 5rem 3rem;
      justify-content: space-around; }
    .contact_details--address {
      width: 72%; }
  .contact_message {
    padding: 5rem 3rem 7rem 3rem; }
  .contact .form button {
    grid-column: 1 / -1;
    justify-self: end; }
  .footer_note .recent_post--body {
    font-size: 1.4rem; }
  .footer_note .newsletter input::-webkit-input-placeholder {
    padding: 0 2rem; }
  .socials__content--text {
    padding: 0 15rem; } }

@media only screen and (max-width: 980px) {
  .header_rightside figure {
    height: 89%;
    transform: translateX(1rem); }
    .header_rightside figure img {
      top: 1rem;
      height: 90%; }
  .header #morph {
    height: 65vh; }
  .education__timeline--body {
    width: 42rem; }
  ul li:nth-child(odd) .education__timeline--body {
    left: -45.6rem; }
  .blog__content {
    column-gap: 2.5rem; }
    .blog__content--frame {
      border: 1rem solid #FF5253;
      width: 35rem;
      height: 25rem; }
      .blog__content--frame img {
        width: 105%;
        height: 105%;
        object-fit: cover;
        display: block;
        transform: translate(3rem, 3rem); } }

@media only screen and (max-width: 900px) {
  .container {
    grid-template-rows: auto 80vh repeat(7, min-content); }
  html {
    font-size: 50%; }
  .inner-container {
    padding: 0 6rem; }
  nav .navbar {
    margin: 1.8rem 0; }
    nav .navbar_toggler {
      display: block; }
      nav .navbar_toggler i {
        font-size: 4rem; }
    nav .navbar ul {
      flex-direction: column;
      align-items: flex-start;
      display: none; }
      nav .navbar ul li {
        padding: 0;
        width: 100%; }
        nav .navbar ul li .current {
          background: #FF7879; }
      nav .navbar ul .nav-btn {
        display: inline-block;
        width: 100%; }
        nav .navbar ul .nav-btn:link, nav .navbar ul .nav-btn:visited {
          padding: 1rem 0;
          margin: 0; }
    nav .navbar ul.navbar_show {
      display: block; }
  .header {
    background: url("/img/background-shapes.png") no-repeat 2rem 4rem/cover, #FF5253;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%); }
    .header_content {
      display: block;
      padding: 2rem 5rem; }
    .header_leftside p {
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 2;
      margin-bottom: 4rem;
      width: 90%; }
    .header_leftside--webdev {
      font-size: 1.8rem;
      text-transform: uppercase;
      margin: 0 5rem; }
      .header_leftside--webdev::before, .header_leftside--webdev::after {
        content: "";
        display: block;
        height: .1rem;
        background-color: currentColor; }
    .header_rightside {
      display: none; }
    .header .btn-header {
      font-size: 1.8rem;
      border-radius: 2.4rem;
      padding: 1.4rem 3rem; }
    .header #morph {
      display: none; }
  .about {
    margin-top: 2rem; }
  .service {
    margin-top: 0; }
    .service .inner-container {
      margin: 0 6.5rem;
      padding: 0;
      display: flex;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth; }
      .service .inner-container::-webkit-scrollbar {
        height: 2rem; }
      .service .inner-container::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, #AA076B, #61045F);
        border-radius: 1rem; }
      .service .inner-container::-webkit-scrollbar-track {
        background: transparent; }
      .service .inner-container::-webkit-scrollbar-corner {
        display: none;
        height: 0px;
        width: 0px; }
    .service-card {
      min-width: 35rem;
      margin: 2rem 3rem 2rem 0;
      scroll-snap-align: start;
      transform-origin: center center;
      transition: all 0.5s; }
      .service-card--number {
        font-size: 6rem; }
      .service-card--body {
        font-size: 1.6rem; }
  .footer_note .recent_post--body {
    font-size: 1.6rem; }
  .footer_note .inner-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content, auto;
    row-gap: 4rem; }
  .footer_note .newsletter {
    grid-column: 1/-1; }
    .footer_note .newsletter input {
      width: 50%; }
    .footer_note .newsletter input, .footer_note .newsletter button {
      margin: 2rem 0 .5rem 0; }
  .footer_end {
    background: #FF5253;
    color: #fff;
    margin-top: 5rem;
    padding: 3rem 0;
    font-size: 1.4rem; }
    .footer_end .inner-container {
      display: flex;
      justify-content: space-between; }
    .footer_end--link {
      display: flex; }
      .footer_end--link li {
        list-style: none; }
        .footer_end--link li a:link,
        .footer_end--link li a:visited {
          display: inline-block;
          text-decoration: none;
          padding: .3rem .8rem;
          transition: all .2s; }
          .footer_end--link li a:link:last-child,
          .footer_end--link li a:visited:last-child {
            margin-right: 2rem; }
  .education__timeline--body {
    width: 30rem; }
  ul li:nth-child(odd) .education__timeline--body {
    left: -33.6rem; } }

@media only screen and (max-width: 800px) {
  .blog .section-header {
    margin-bottom: 9rem; }
  .blog__content {
    column-gap: 2rem; }
    .blog__content:not(:last-child) {
      margin-bottom: 7rem; }
    .blog__content--thumbnail2 {
      justify-self: end; }
    .blog__content--title {
      font-size: 1.8rem; }
    .blog__content--frame {
      width: 32rem;
      height: 24rem; }
      .blog__content--frame img {
        transform: translate(2rem, 2rem); }
    .blog__content--frame2 img {
      transform: translate(-4rem, 2rem); }
    .blog__content--collections {
      margin: 1.5rem 0;
      font-size: 1.6rem; }
      .blog__content--collections > span:not(:last-child), .blog__content--collections p {
        margin-right: 2rem; } }

@media only screen and (max-width: 700px) {
  .about_me {
    display: flex;
    flex-direction: column; }
    .about_me--image {
      margin: 2rem 0 5rem 0;
      padding: 3rem; }
      .about_me--image figure {
        width: 100%;
        height: 50rem; }
      .about_me--image img {
        transform: translate(2rem, 4rem); }
    .about_me--story p {
      font-size: 2rem; }
  .testimonial_container {
    border: 1rem solid #FF5253;
    width: 90%; }
  .testimonial_card {
    padding: 5rem;
    transform: translate(3rem, 4rem); }
    .testimonial_card--company {
      font-size: 3rem; }
    .testimonial_card--comment {
      font-size: 2rem; }
      .testimonial_card--comment .right-quote img, .testimonial_card--comment .left-quote img {
        width: 3rem;
        height: 2.5rem; }
    .testimonial_card--name {
      margin: 3rem 0 4rem 0; }
  .contact {
    margin: 6rem 0; }
    .contact .inner-container {
      display: flex;
      flex-direction: column; }
    .contact_details {
      order: 1;
      display: flex;
      flex-direction: column; }
      .contact_details--cardbox {
        box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.05);
        padding: 3rem 6rem;
        display: flex;
        justify-content: start;
        align-self: stretch; }
      .contact_details--icon {
        padding-right: 5rem; }
    .contact_message {
      padding: 5rem 4rem 7rem 4rem;
      border-radius: 2px;
      box-shadow: 0 0 3.5rem rgba(0, 0, 0, 0.05);
      margin-bottom: 6rem; }
  .socials__content--text {
    padding: 0; }
  .blog {
    grid-column: full-start / full-end;
    margin: 8rem 0; }
    .blog .section-header {
      margin-bottom: 10rem; }
    .blog__content--frame {
      width: 25rem;
      height: 20rem; }
    .blog__content--collections {
      font-size: 1.4rem; }
      .blog__content--collections > span:not(:last-child), .blog__content--collections p {
        margin-right: 1.5rem; }
    .blog__pagination {
      display: flex;
      justify-content: flex-end; }
      .blog__pagination a:not(:last-child) {
        margin-right: .5rem; }
      .blog__pagination a {
        color: #FF5253;
        padding: .8rem 1.6rem;
        border: 1px solid #FF5253;
        border-radius: .5rem;
        text-decoration: none;
        transition: background-color .3s; }
      .blog__pagination a.active {
        background-color: #FF5253;
        color: white; }
      .blog__pagination a:hover:not(.active) {
        background-color: rgba(255, 82, 83, 0.65);
        color: #fff; } }

@media only screen and (min-width: 1800px) {
  html {
    font-size: 80%; }
  .inner-container {
    max-width: 120rem;
    margin: 0 auto; }
  .header {
    grid-column: full-start/full-end;
    background: url("/img/background-shapes.png") no-repeat center center/contain;
    position: relative; }
    .header_content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
      margin-top: 0rem;
      position: relative;
      height: 85vh; }
    .header_leftside {
      color: #fff;
      margin: auto 0; }
      .header_leftside--greeting {
        font-size: 4rem; }
      .header_leftside--myname {
        font-size: 4rem;
        font-weight: bold; }
      .header_leftside p {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 2;
        margin-bottom: 7rem; }
      .header_leftside--webdev {
        font-size: 1.6rem;
        text-transform: uppercase;
        margin: 0 8rem; }
        .header_leftside--webdev::before, .header_leftside--webdev::after {
          content: "";
          display: block;
          height: .1rem;
          width: 14rem;
          background-color: currentColor; }
    .header_rightside figure {
      height: 88%;
      transform: translateY(13rem); }
      .header_rightside figure img {
        height: 109%; }
    .header #morph {
      height: 90vh; } }

@media only screen and (max-width: 600px) {
  .inner-container {
    padding: 0 3rem; }
  .btn-group > *:first-child {
    margin-right: 1.6rem; }
  .header {
    background: url("/img/background-shapes.png") repeat-y 0 0/contain, #FF5253;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%); }
    .header_content {
      padding: 0 1rem; }
    .header_leftside--greeting {
      font-size: 3rem; }
    .header_leftside--myname {
      font-size: 3rem; }
    .header_leftside p {
      font-size: 1.6rem;
      width: 100%; }
    .header_rightside {
      display: none; }
  .about {
    margin-top: -4rem; }
    .about_me--image {
      margin: 1rem 0 6rem 0;
      padding: 0; }
      .about_me--image figure {
        height: 30rem; }
      .about_me--image img {
        transform: translate(2rem, 3rem); }
    .about_me--story p {
      font-size: 2rem; }
  .portfolios .gallery {
    grid-template-rows: repeat(2, 25vw) 40vw 25vw;
    gap: 1.5rem;
    padding: 0 0 6rem 0; }
    .portfolios .gallery_item--1 {
      grid-column: 1/ 4; }
    .portfolios .gallery_item--2 {
      grid-column: 1/ 4;
      grid-row: 2/ 3; }
    .portfolios .gallery_item--3 {
      grid-column: 1/ 4;
      grid-row: 4 / 5; }
    .portfolios .gallery_item--4 {
      grid-column: 4/ 7;
      grid-row: 4/ 5; }
    .portfolios .gallery_item--5 {
      grid-column: 4/ 7;
      grid-row: 1 / 3; }
    .portfolios .gallery_item--6 {
      grid-column: 1/ 7;
      grid-row: 3/ 4; }
  .btn-overlay:link, .btn-overlay:visited {
    font-size: 1.2rem;
    padding: .5rem 3rem; }
  .testimonial {
    margin: 4rem 0; }
    .testimonial_container {
      border: none; }
    .testimonial_card {
      padding: 3rem;
      transform: translate(0, 0); }
      .testimonial_card--company {
        font-size: 2.2rem; }
      .testimonial_card--comment {
        font-size: 1.3rem; }
        .testimonial_card--comment-text {
          padding: 0 .5rem; }
        .testimonial_card--comment .right-quote img, .testimonial_card--comment .left-quote img {
          width: 1.5rem;
          height: 1rem; }
      .testimonial_card--name {
        margin: 3rem 0 4rem 0;
        font-size: 1.5rem; }
      .testimonial_card--img .client {
        display: inline-block;
        margin: 1rem 1rem 0;
        height: 100%;
        width: auto; }
        .testimonial_card--img .client img {
          width: 7rem;
          height: 7rem; }
  .contact .form_group--1, .contact .form_group--2, .contact .form_group--3, .contact .form_group--4 {
    grid-column: 1 / span 2; }
  .contact_details--cardbox {
    padding: 2rem; }
  .contact_details--icon {
    padding-right: 2rem; }
  .footer_note .recent_post--body {
    width: max-content; }
  .footer_note .inner-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
  .footer_note .newsletter input {
    width: 100%; }
  .footer_end .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer_end p {
    order: 1;
    margin-top: 3rem; }
  .footer_end--link li a:link, .footer_end--link li a:visited {
    padding: .3rem .4rem; }
  .education__timeline li {
    width: .3rem;
    margin-left: 1rem;
    padding-top: 3rem; }
  .education__timeline--body {
    width: calc(100vw - 12rem);
    padding: 3rem; }
  ul li:nth-child(odd) .education__timeline--body {
    left: 4rem; }
  .education__timeline li:after {
    top: 6.3rem; }
  ul li:nth-child(odd) .education__timeline--body:before {
    left: -1.5rem;
    border-width: 1.8rem 1.6rem 1.8rem 0;
    border-color: transparent #fff transparent transparent; }
  .expertise__areas {
    grid-template-columns: 1fr; }
  .blog .section-header {
    margin-bottom: 3rem; }
  .blog__content {
    display: flex;
    flex-direction: column; }
    .blog__content:not(:last-child) {
      margin-bottom: 5rem; }
    .blog__content--thumbnail {
      display: none; }
    .blog__content--frame {
      border: 0.5rem solid #FF5253;
      width: calc(100% - 2rem);
      height: 35rem; }
      .blog__content--frame img {
        width: 100%;
        height: 100%;
        transform: translate(0, 0); }
    .blog__content--frame2 img {
      transform: translate(0, 0); }
    .blog__content--description {
      margin-bottom: 1.5rem; } }

@media only screen and (max-width: 680px) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .service .inner-container {
    margin: 0 4rem; }
  .service-card {
    min-width: 38rem; } }

@media only screen and (max-width: 360px) and (max-width: 640px) {
  .header_content {
    margin-top: 5rem; }
  .header_leftside--greeting {
    font-size: 2rem; }
  .header_leftside--myname {
    font-size: 2rem; }
  .header_leftside p {
    font-size: 1.4rem; }
  .service .inner-container {
    margin: 0 4rem; }
  .service-card {
    min-width: 30rem; }
  .btn-group > *:first-child {
    margin-right: 1rem; }
  .btn-primary {
    font-size: 1.2rem;
    padding: .5rem 3rem;
    cursor: pointer;
    transition: all .2s; }
    .btn-primary:hover {
      color: #fff;
      background: #FF5253;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25); }
  .testimonials .section-header {
    font-size: 6rem; }
    .testimonials .section-header > span {
      font-size: 3rem; }
  .testimonial_card--img .client img {
    width: 5rem;
    height: 5rem; }
  .footer_end--link li a:link, .footer_end--link li a:visited {
    padding: .3rem .4rem; }
    .footer_end--link li a:link:last-child, .footer_end--link li a:visited:last-child {
      margin-right: 1rem; }
  .expertise {
    margin: 3rem 0 7rem 0; }
    .expertise .section-header {
      font-size: 7rem; }
      .expertise .section-header > span {
        font-size: 3.5rem; }
    .expertise__areas--field {
      font-size: 2rem; }
  .socials__content--sources {
    font-size: 1.8rem; }
    .socials__content--sources > a:not(:last-child) {
      margin-right: 2rem; }
    .socials__content--sources a > div {
      border: 1px solid #FF5253;
      border-radius: 50%;
      padding: .9rem 1.5rem; }
    .socials__content--sources > a:nth-child(4) div {
      padding: .9rem 1.8rem; } }
